<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <title>Pokémon Go Map -- Beehive Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/poly.min.css').lstrip('/') }}">
    <script src="{{ url_for('static', filename='js/vendor/modernizr.custom.js').lstrip('/') }}"></script>
  </head>
  <body>
    <div id="info">
        <h1>PokemonGo-Map Coverage</h1>
        <p>Draw polygons on the map, get location coords</p>
        <p>Polylist:<p>
        <code id="polylist"></code>
        <p>Coords:</p>
        <code id="coordlist"></code>
    </div>
    <div id="map"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.9.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      var centerLat = {{lat}};
      var centerLng = {{lng}};
    </script>
    <script src="{{ url_for('static', filename='dist/js/poly.min.js').lstrip('/') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&amp;callback=initMap&amp;libraries=places,geometry,drawing"></script>
  </body>
</html>